@model Easyman.Dto.IconTypeInput
@{
    Layout = "~/Views/Shared/_CommonEdite.cshtml";
}
@section Styles{
    @*放页面自定义样式*@
}

        @Html.HiddenFor(m => m.Id)
 
        <div class="tab-content" style="padding-top:35px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">图标类型名称</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "图标类型名称", @Required = "Required" })
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-sm-4 control-label">备注</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", placeholder = "备注", @Required = "Required" })
                    </div>
                </div>
            </div>
        </div>

@section scripts{
   @*放页面自定义js*@
<script type="text/javascript">
    //母版页调用提交方法
    function SubmitForm() {
        //from表单提交路径
        var postUrl = "../api/services/api/Icon/UpdateOrInserIconType";
        //提交方法-JS里面
        handleSubmitForm(postUrl);
    }
</script>
}

