@using Easyman.Common.Mvc.Controls
@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Styles{
    @*@Styles.Render("~/Bundles/App/jqgrid/css")*@
    <link href="~/Views/File/css/showMonitFile.css" rel="stylesheet" />
    <link href="~/Common/plugins/ContextMenu/jquery.contextMenu.css" rel="stylesheet" />
    <link href="~/Scripts/easyui/easyui.css" rel="stylesheet" />
    @*@Styles.Render("~/Bundles/ContextMenu/css")*@
    <style>
        .form-control {
            padding: 0px;
        }

      
    </style>
}

<div style="height:90px; width:100%; border:1px solid #d2cccc; padding-top:25px; text-align:left;">
    <b style="margin-left:10px; font-size:30px;">
        User [@ViewData["userName"]'s] Resource Manager
    </b>
    @*<p style="margin-left:10px;">
        [Contains the file structure under the jurisdiction terminal, the shared directory, and the directory]
    </p>*@
    <div style="float:left"><input type="text" name="searchName" id="searchName" /><button type="button" id="btnSearch" onclick="SearchFile()">Search</button>
    <p>There are  <a href="#" style="font-size:x-large" onclick="LookErrlog()" id="errNum" >0</a> current error monitoring data
        <a href="#" onclick="LookMoreLog()" id="moreLog">more</a>
        </p>
    </div>
</div>
<div class="content_wrap" style="border-bottom:1px solid #d2cccc; background-color:antiquewhite">
     <div class="easyui-layout" style="width:100%;height:100%;">
         <div region="west" split="true" title="File Directory" style="width:300px; overflow:hidden; ">
             <ul id="treeDemo" class="ztree" style="overflow:auto;  overflow-x:hidden;  margin-top:0px;  width:100%; height:100%; border:none; background-color:antiquewhite "></ul>
         </div>
        <div id="fileModule" region="center" title="Document Detail" style="padding-top:50px;overflow:hidden; ">
           
        </div>
    </div>
    
    @*<div class="zTreeDemoBackground left" style=" height:100%;  border-right:5px solid #d2cccc;padding-left:0px;">
        <ul id="treeDemo" class="ztree" style="overflow:auto; overflow-x:hidden; margin-top:0px; width:100%; height:100%; border:none; background-color:antiquewhite "></ul>
    </div>
    <div class="right" id="fileModule" style=" padding-top:10px; ">

    </div>*@

</div>
<div style="margin-top:10px;display:none">
    <input type="text" name="fromPath" id="fromPath" />
    <input type="text" name="toPath" id="toPath" />
    <button type="button" id="btnCopy" onclick="copyFile()">复制</button>

    <button type="button" id="btnCopy123" onclick="CheckFolder()">备份测试</button>

    <button type="button" id="btnCopy123323" onclick="DataBaseCmd()">命令测试</button>
    <button type="button" id="btnCopy123323" onclick="restoreFile()">还原文件</button>

</div>

<div class="modal" id="attrs" tabindex="-1" role="dialog" style="width:70%" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel">
    <!--属性集合-->
    <input id="currRdlcReport" type="text" style="display:none" />

    <div class="modal-dialog" role="document" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <i class="fa fa-cog"></i> file propertys</h4>
            </div>
            <div class="modal-body">
                @*<p>内容部分</p>*@
                <div class="form-body jarviswidget ">
                    <header role="heading">
                        <ul id="attrTabHeader" class="nav nav-tabs" role="tablist" style="font-size:12px;">
                            @*<li role="presentation" class="active"><a href="#attrOne" aria-controls="home" role="tab" data-toggle="tab">属性一</a></li>
                                <li role="presentation"><a href="#attrTwo" aria-controls="profile" role="tab" data-toggle="tab">属性二</a></li>*@
                        </ul>
                    </header>
                    <!--选项卡内容部分-->
                    <div class="tab-content" id="attrTabBody" style="padding-top:12px;font-size:12px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" title="关闭"> <i class="fa fa-remove"></i> 关闭</button>
                    @*<button type="button" class="btn btn-success" onclick="SaveRdlcReport()" title="保存"> <i class="fa fa-save"></i> 保存</button>*@
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @*@Scripts.Render("~/Bundles/ContextMenu/js")*@
    <script type="text/javascript" src="~/Common/plugins/ContextMenu/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="~/Common/plugins/ContextMenu/jquery.ui.position.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Views/File/js/ztreeContent.js"></script>
<script type="text/javascript" src="~/Views/File/js/rightContent.js"></script>
<script type="text/javascript" src="~/Views/File/js/fileContextMenu.js"></script>
    <script type="text/javascript">
        //#region 页面禁用鼠标右键
        if (window.Event) {
            document.captureEvents(Event.MOUSEUP);
        }
        function nocontextmenu() {
            event.cancelBubble = true
            event.returnValue = false;
            return false;
        }
        function norightclick(e) {
            if (window.Event) {
                if (e.which == 2 || e.which == 3)
                    return false;
            } else if (event.button == 2 || event.button == 3) {
                event.cancelBubble = true
                event.returnValue = false;
                return false;
            }
        }
        document.oncontextmenu = nocontextmenu; // for IE5+ 
        document.onmousedown = norightclick; // for all others 
        //#endregion

        //随着浏览器的变化而变化
        $(window).resize(function () {
            var height_cont = $(window).height();
            $("div.content_wrap").height(height_cont - 90);
        });

        //首次加载当前用户左边树形菜单，管辖的终端列表
        $(document).ready(function () {
            var height_cont = $(window).height();
            $("div.content_wrap").height(height_cont - 90);

            //$("div.content_wrap").attr("min-height", height_cont - 91);

            $.ajax({
                url: "GetNodesByCurUser",
                type: 'post',
                success: function (data) {
                    //debugger;
                    zNodes = data.result;
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                },
                error: function (xhr) {
                    //debugger;
                    abp.ui.clearBusy();
                }
            });
            getComputerList();//获取终端管辖终端列表

            //获得错误节点数
            $.ajax({
                url: bootPATH + "/api/services/api/MonitFile/GetErrorNumByUser",
                type: 'get',
                success: function (data) {
                    debugger;
                    if (data.result != "") {
                        $("#errNum").text(data.result).css("color","red");
                    }
                    else {
                    }
                },
                error: function (xhr) {
                    //debugger;
                    abp.ui.clearBusy();
                }
            });
        });

        function copyFile() {
            var fromPath = $("#fromPath").val();
            var toPath = $("#toPath").val();

            $.ajax({
                url: bootPATH + "/api/services/api/File/CopyFile?fromPath=" + fromPath + "&toPath=" + toPath,
                type: 'get',
                success: function (data) {
                    //debugger;
                    //zNodes = data.result;
                    ////$.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    //loadHtml(data.result, "folder");
                },
                error: function (xhr) {
                    //debugger;
                    abp.ui.clearBusy();
                }
            });
        }

        //function getChildByFolder(folderId) {
        //    $.ajax({
        //        url: bootPATH + "/api/services/api/File/GetCurFileListByFolder?folderId=" + folderId,
        //        type: 'get',
        //        success: function (data) {
        //            //debugger;
        //            zNodes = data.result;
        //            //$.fn.zTree.init($("#treeDemo"), setting, zNodes);
        //            loadHtml(data.result, "folder");
        //        },
        //        error: function (xhr) {
        //            //debugger;
        //            abp.ui.clearBusy();
        //        }
        //    });
        //}
       
        //获取当前时间点
        function getTime() {
            var now = new Date(),
                h = now.getHours(),
                m = now.getMinutes(),
                s = now.getSeconds(),
                ms = now.getMilliseconds();
            return (h + ":" + m + ":" + s + " " + ms);
        }

        //还原文件
        function downMFilebyId(monitFileId) {
            $.ajax({
                url: bootPATH + "/api/services/api/MonitFile/GenerateFile?monitFileId=" + monitFileId,
                type: 'get',
                success: function (data) {
                    debugger;
                    if (data.result == "") {
                        alert("restore success！");
                    }
                    else {
                        alert("restore failed：" + data.result);
                    }
                },
                error: function (xhr) {
                    //debugger;
                    abp.ui.clearBusy();
                    alert("restore failed！");
                }
            });
        }

        function CheckFolder() {
            $.ajax({
                type: "post",
                url: "../Computer/MonitorStart",
                async: false,
                data: {
                    ip: "172.25.97.3",
                    folderName: "BusinessData",
                    scriptNodeCaseId: "1"
                },
                success: function (e) {
                    abp.message.success("", "提交成功！");
                },
                error: function (e) {
                    kk = e;
                }
            });
        }

        function DataBaseCmd() {
            $.ajax({
                type: "post",
                url: "../Computer/DataBaseCmd",
                async: false,
                data: {
                    cmdStr: "exp FMS_CL/FMS_CL@112.54.93.193/orcl file=e:\datafull.dmp  log=e:\datafull.log"
                },
                success: function (e) {
                    abp.message.success("", "数据外导成功！");
                },
                error: function (e) {
                    kk = e;
                }
            });
        }
  
        //搜索文件
        function SearchFile()
        {
            var fileName = $("#searchName").val();
            if(fileName!=null&&fileName!="")
            {
                //弹出一个新页面（报表）,显示搜索结果
                var modalId = CreateRandomNum(1, 0, 1000);//取0到1000的随机数
                //打开监控历史记录报表
                //ModeDialogUrl('modalId' + modalId, 'file list', 'Report/TbReport?code=fileList&NAME=' + fileName, 1100, 500);
                TopModeDialogUrl('modalId' + modalId, 'file list', 'Report/TbReport?code=fileList&NAME=' + fileName, 1100, 500);//弹顶级层
            }
        }
        //查看日志信息
        function LookErrlog()
        {
            //弹出一个新页面（报表）,显示搜索结果
            var modalId = CreateRandomNum(1, 0, 1000);//取0到1000的随机数
            //打开监控历史记录报表
            //ModeDialogUrl('modalId' + modalId, 'monit error', 'Report/TbReport?code=errNodeCase', 1100, 500);
            //ModeDialogUrl('modalId' + modalId, 'monit error', 'Report/TbReport?code=errorDetail', 1100, 500);
            TopModeDialogUrl('modalId' + modalId, 'monit error', 'Report/TbReport?code=errorDetail', 1100, 500);//弹顶级层
        }
        //查看所有日志
        function LookMoreLog()
        {
            //弹出一个新页面（报表）,显示搜索结果
            var modalId = CreateRandomNum(1, 0, 1000);//取0到1000的随机数
            //打开监控历史记录报表
            TopModeDialogUrl('modalId' + modalId, 'more log', 'Report/TbReport?code=moreLog', 1100, 500);//弹顶级层

        }
      </script>
}
