@using Easyman.Common.Mvc.Controls
@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Styles{
    @*@Styles.Render("~/Bundles/App/jqgrid/css")*@
    @*<link href="~/Views/File/css/showMonitFile.css" rel="stylesheet" />*@
    <link href="~/Common/plugins/ContextMenu/jquery.contextMenu.css" rel="stylesheet" />
    <link href="~/Scripts/easyui/easyui.css" rel="stylesheet" />
    <link href=" ~/Content/webuploader/css/webuploader.css" rel="stylesheet" />
    @*@Styles.Render("~/Bundles/ContextMenu/css")*@
    <style>
        .form-control {
            padding: 0px;
        }

        .panel-body {
            padding: 0;
        }

            .panel-body .btn {
                -moz-user-select: none;
                background-image: none;               
                border-radius: 4px;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857;
                margin-bottom: 0;
                padding: 6px 12px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
            }


            .panel-body .btn-default {
                background-color: #fff;
                border-color: #ccc;
                color: #333;
            }
    </style>
}


<div class="content_wrap">
    <div class="content">
        <div class="modal-header">          
                    Manual upload of multiple files
            </div>
            <div class="itemInner" id="itemInner">
                <div class="widget-content">
                   
                        <div >
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style=" border:0px;">
                                    <p class="bg-warning" style="padding: 30px; color: red">
                                        Note: support multiple files uploading;file as much as possible when uploading;<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to ensure upload speed as far as possible using a single file upload
                                    </p>
                                    <div id="uploader" class="wu-example" style=" border-bottom:1px solid #fff">

                                        <div class="btns">
                                            <div id="picker" style="width: 100px; float:left; margin-left:10px;">
                                                Select file
                                            </div>
                                         
                                                <button id="ctlBtn" class="btn btn-success" style=" margin-top:5px; width: 100px; height: 37px; overflow: hidden;">
                                                    <i class="icon-save"></i>
                                                    Start upload
                                                </button>
                                            
                                        </div>
                                        <!--用来存放文件信息-->
                                        <div id="thelist" class="uploader-list">
                                        </div>
                                    </div>
                                </div>
                            </div>
  
                        </div>
                   
                </div>
            </div>
        </div>
    </div>






@section scripts{
    @*@Scripts.Render("~/Bundles/ContextMenu/js")*@
    <script src="~/Content/webuploader/dist/webuploader.min.js"></script>
    <script src="~/Content/webuploader/FileUpload.js"></script>
    <script type="text/javascript">
        //#region 页面禁用鼠标右键
        if (window.Event) {
            document.captureEvents(Event.MOUSEUP);
        }
        function nocontextmenu() {
            event.cancelBubble = true
            event.returnValue = false;
            return false;
        }
        function norightclick(e) {
            if (window.Event) {
                if (e.which == 2 || e.which == 3)
                    return false;
            } else if (event.button == 2 || event.button == 3) {
                event.cancelBubble = true
                event.returnValue = false;
                return false;
            }
        }
        document.oncontextmenu = nocontextmenu; // for IE5+
        document.onmousedown = norightclick; // for all others
        //#endregion

        //随着浏览器的变化而变化
        $(window).resize(function () {
            var height_cont = $(window).height();
            $("div.content_wrap").height(height_cont - 90);
        });
       

    </script>
}
