html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ui-jqgrid tr.jqgrow td {
    /* jqGrid cell content wrap  */
    white-space: normal !important;
    height: auto;
}

th.ui-th-column div {
    /* jqGrid columns name wrap  */
    white-space: normal !important;
    height: auto !important;
    padding: 0px;
}

/*以下是对bootstrap-multiselect控件的样式控制css*/

/*自定义宽度*/
.myOwnDdl {
    display: inline-block;
    width: 100%;
}

    /* 实现宽度自定义 */
    .myOwnDdl .btn-group {
        width: 100%;
    }

    .myOwnDdl .multiselect {
        width: 100%;
        text-align: right;
        margin-top: -5px;
    }

    .myOwnDdl ul {
        width: 100%;
    }

    .myOwnDdl .multiselect-selected-text {
        position: absolute;
        left: 0;
        right: 25px;
        text-align: left;
        padding-left: 20px;
    }

/*控制隔行换色*/
.myOwnDll .multiselect-container li.odd {
    background: #eeeeee;
}

/*grid 列表*/
#jqGrid tr td input[type="checkbox"] {
    /*margin-left: 5px;*/
}

.jgrid-filter-input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-control {
    padding-left: 60px;
}

.jgrid-filter-field {
    display: inline-block;
    position: relative;
}

    .jgrid-filter-field .jgrid-filter-operator {
        position: absolute;
        padding-left: 2px;
    }

.option {
    border: 0px;
    height: 32px;
    margin: 1px 0px 0px 2px;
    padding: 0px;
    width: 55px;
}

.separate {
    color: #555;
}

.form-group {
    margin-bottom: 8px;
}

.row {
    margin-left: 0px;
}
/*jqgrid列表样式*/
.ui-jqgrid-htable {
    background-color: #efefef;
}

    .ui-jqgrid-htable label {
    }

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    /*padding-right: 0px;*/
    vertical-align: middle;
    padding-left: 2px;
}

/*.ui-jqgrid .ui-jqgrid-htable {
            table-layout:auto;
        }
        .ui-jqgrid .ui-jqgrid-btable {
            table-layout:auto;
        }*/
.ui-jqgrid .loading {
    background-color: #f8f8f8;
}
/*以下这两行样式有可能会引起其它问题(冻结)，但目前没有发现异常*/
#gbox_jqGrid .frozen-div {
    height: 0px;
}

#gbox_jqGrid .frozen-bdiv {
    height: 0px;
}

.toolPlace {
    padding-right: 3px;
    border-right: 1px solid #ddd;
    margin-right: 3px;
}

.popover-content {
    padding: 9px 14px 9px 14px;
}
