@model Easyman.Dto.DbTypeInput
@{
    Layout = "~/Views/Shared/_CommonEdite.cshtml";
}
@section Styles{
    @*放页面自定义样式*@
}
    @Html.HiddenFor(m => m.Id)
        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu">
                <div class="form-group">
                    <label for="Name" class="col-xs-4 control-label">数据库名称</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "数据库名称", @Required = "Required", @oninvalid = "setCustomValidity('请输入数据库名称')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Name" class="col-xs-4 control-label">备注</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control", placeholder = "备注", @Required = "Required", @oninvalid = "setCustomValidity('请输入备注')", @oninput = "setCustomValidity('')" })<i class="iRequired">*</i>
                    </div>
                </div>
            </div>
        </div>
  

@section scripts{
    @*放页面自定义js*@
    <script type="text/javascript">
    //母版页调用提交方法
    function SubmitForm() {
        //from表单提交路径
        var postUrl = "../api/services/api/DbType/AddOrUpdate";
        //提交方法-JS里面
        handleSubmitForm(postUrl);
    }
    </script>
}

