@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<input type="hidden" id="impTbId" value="@ViewBag.ImpTbId"/>
<input type="hidden" id="dbTypeId" value="@ViewBag.DbTypeId" />

<div id="dataTableDiv"></div>
<script src="~/Views/Import/js/ImpTbField.js"></script>