<link href="~/Common/css/TypeIcon/TypeIcon.css" rel="stylesheet" />
<div>
    <header role='heading'>
        <ul id="typeIconul" class='nav nav-tabs' role='tablist'>
            <button type='button' class='btn btn-default'  title='关闭' style='right: 5px;position: absolute;padding: 0px 8px;margin-top: 10px;' onclick="ContentIconType('')"><i class="fa fa-square-o" aria-hidden="true"></i> 清空</button>
        </ul>
    </header>
    <div class='tab-content' style='padding-top:5px;' id="divHtmlTop">
    </div>
</div>
<script src="~/Common/Scripts/TypeIcon/TypeIcon.js"></script>
<script>
    $(function () {
        TopTypeIcons();
    });
</script>


