@using Easyman.Common.Mvc.Controls
@model Easyman.Dto.DbTagInput
@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Styles{
<style>
        #iconMenuDiv {
            width: 400px;
        }
        #iconMenuDiv span {
           padding: 5px;
           margin: 5px 10px;
           font-size: 22px;
           cursor: pointer;
           display: inline-block;
           border: 1px solid transparent;
        }
        #iconMenuDiv span:hover {
            transform: scale(1.02);
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        #iconMenuDiv h5 {
            margin-left: 10px;
            padding-bottom: 4px;
            border-bottom: solid 1px #707070;
        }
</style>
}

<form style="width:100%;padding: 0px 15px 0px 15px;" id="saveForm" class="form-horizontal" action="../api/services/api/DbTag/InsertOrUpdateDbTag" method="post" role="form">
    @Html.HiddenFor(h => h.Id)
    <div class="form-body jarviswidget">
        <div class="tab-content" style="padding-top:12px;">
            <div role="tabpanel" class="tab-pane active" id="navMenu" style="margin-bottom:50px">

                <div class="form-group">
                    <label for="Name" class="col-xs-4 control-label">名称</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(f => f.Name, new { @class = "form-control", placeholder = "数据库标识名", @Required = "Required" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Order" class="col-xs-4 control-label">描述说明</label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(f => f.Remark, new { @class = "form-control", placeholder = "描述说明" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions text-right">
        <div class="row bottomPage">
            <div style="margin-right:15px">
                <button type='button' class='btn btn-danger' onclick="ColseModel()" data-dismiss='modal'><i class='fa fa-times'></i> 关闭</button> &nbsp;
                <button class="btn btn-primary" id="sumbit-btn" type="submit"><i class="fa fa-save"></i> 提交</button>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/Views/DbServer/js/editDbTag.js"></script>
}